.container {
  padding: 1.5rem 5%;
  width: 90%;
  height: 230px;
  color: #f7f7f7;
  background: #121312;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer_links a {
  display: block;
  font-size: 1.25rem;
  margin-bottom: 1em;
}
