.container {
  z-index: -1;
  position: absolute;
  margin: 0 auto;
  width: 95%;
  height: 100%;
  display: flex;
  top: 0;
}

.inner {
  flex-basis: 12.5%;
  height: 100%;
  border-left-width: 1px;
  border-left-style: solid;
  border-image-source: linear-gradient(180deg, #000 75vh, #fff 100vh);
  border-image-slice: 1;
}

.inner:nth-of-type(8) {
  border-right: 1px solid #000;
}

@media (max-width: 720px) {
  .container {
    opacity: 0;
  }
}
