.navbar {
  width: 100%;
  padding: 0 100px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 15px;
  font-size: 16px;
  height: 100px;
  position: absolute;
}

@media (max-width: 680px) {
  .navbar {
    padding: 0 25px;
  }
}

.navbar a {
  display: block;
  font-weight: 500;
}

.container {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  background-color: #95f5bc;
}

.slogan {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Roboto Mono";
}

@media (max-width: 680px) {
  .slogan {
    position: absolute;
    left: 25px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.title {
  font-size: 72px;
  font-family: "Roboto Mono";
  font-weight: 600;
}
