.container {
  display: flex;
  width: 95vw;
  max-width: 1024px;
  margin: 0 auto;
  justify-content: space-between;
}

@media (max-width: 968px) {
  .container {
    flex-flow: column nowrap;
    align-items: center;
  }
}

.inner {
  position: relative;
  width: 100%;
  max-width: 345px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  font-size: 16px;
}

@media (max-width: 968px) {
  .inner {
    margin: 1em 0;
    max-width: 100%;
    flex-flow: row nowrap;
  }
}

.inner img {
  height: 175px;
  order: -1;
}

@media (max-width: 968px) {
  .inner img {
    flex-basis: 25%;
    width: 25%;
    min-width: 100px;
    height: auto;
    margin-right: 1rem;
  }
}

.inner_text {
  padding: 0 1em;
  text-align: center;
  flex: auto;
  display: flex;
  flex-flow: column nowrap;
}

@media (max-width: 968px) {
  .inner_text {
    text-align: left;
  }
}

.inner h3 {
  margin: 0;
  height: 25px;
  font-size: 1.5rem;
  font-weight: 600;
}

.description {
  font-size: 1rem;
  font-weight: 300;
}
