.container {
  display: flex;
  width: 95vw;
  max-width: 1024px;
  margin: 0 auto;
  justify-content: space-between;
}

@media (max-width: 968px) {
  .container {
    flex-flow: column nowrap;
    align-items: center;
  }
}

.inner {
  position: relative;
  width: 100%;
  max-width: 345px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  font-size: 16px;
}

@media (max-width: 968px) {
  .inner {
    max-width: 100%;
    flex-flow: row wrap;
  }
}

.inner h3 {
  margin: 0;
  height: 25px;
  font-size: 1.5rem;
  font-weight: 600;
  transition: all 0.23s ease-in-out;
}

.inner img {
  margin-top: 1rem;
  margin-right: 1rem;
  height: 175px;
  order: -1;
}

.description {
  opacity: 1;
  font-size: 1rem;
  font-weight: 300;
  text-align: center;
  transition: opacity 0.23s ease-in-out;
}

@media (min-width: 968px) {
  .inner:hover > h3 {
    font-size: 1.75rem;
    color: #37f570;
    transform: translateY(-20px);
  }

  .inner:hover > .description {
    opacity: 1;
  }

  .description {
    opacity: 0;
  }
}
